pytest
pytest-asyncio
pytest-mock
pyTelegramBotAPI
python-dotenv
flake8
fastapi
uvicorn[standard]
redis
PyYAML
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
